.contenedor_coleccionables{
    z-index: 3;
}
.coleccionable{
    background-image: url(../img/moneda_gatito_sprite.png);
    position: absolute;
    height: 50px;
    width: 50px;
    z-index: 3;
}

.col_tierra{
    top: 80%;
}

.col_aire{
    top: 20%;
}

.animarColeccionable{
    display: block;
    background-image: url(../img/moneda_gatito_sprite2.png);
    height: 79px;
    transform: translateY(29px);
    animation: animarColeccionable2;
    animation-timing-function: steps(7);
    animation-iteration-count: infinite;
}

@keyframes animarColeccionable2 {
    0%{background-position: 0;}
    100% {background-position: -341px;}
}
