.contenedor_coleccionables{
    z-index: 3;
}
.coleccionable{
    background-color: yellow;
    position: absolute;
    height: 50px;
    width: 50px;
    z-index: 3;
}

.col_tierra{
    top: 75%;
}

.col_aire{
    top: 20%
}

.animarColeccionable{
    display: block;
    animation: animarColeccionable;
    animation-duration: 0.5s;
    animation-timing-function: linear;
}

@keyframes animarColeccionable {
    0% {background-color: green;}
    100% {background-color: red;}
}
