.fondo{
    position: absolute;
    width: 100%;
    background-color: darkcyan;
    height: 100%;
    perspective: 1px;
    z-index: 1;
}

.fondo1{
    background-image: url(../img/fondo/PINK/pink1.png);
    width: 100%;
    height: 100%;
    animation: animarFondo 4s infinite;
    animation-timing-function: linear;
}

@keyframes animarFondo {
    0%{background-position: bottom left 0;}
    100% {background-position:  bottom left -1090px;}
}
.fondo2{
    background-image: url(../img/fondo/PINK/pink1.png);
}
.fondo3{

}

.fondo4{

}

.fondo5{

}

.fondo6{

}

.fondo7{

}

.fondo8{

}

.fondo9{

}
