.fondo{
    position: absolute;
    width: 100%;
    background-color: darkcyan;
    height: 100%;
    perspective: 1px;
    z-index: 1;
}

@keyframes animarFondo {
    0%{background-position:  bottom left 0px;}
    100% {background-position: bottom left -1920px;}
}

.fondos{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-repeat: repeat-x;
}

.fondo0{
    animation: animarFondo 15s infinite;
    animation-timing-function: linear;
}

.fondo1{
    animation: animarFondo 25s infinite;
    animation-timing-function: linear;
}


.fondo2{
    animation: animarFondo 35s infinite;
    animation-timing-function: linear;
}

.fondo3{
    background-position:  bottom left;
    animation: reflejoAgua 2s infinite;
    animation-timing-function: linear;
}

@keyframes reflejoAgua {
    0%{background-position:  bottom left 0px;}
    50%{background-position:  bottom left 5px;}
    100%{background-position:  bottom left 0px;}
}

.fondo4{
    animation: animarFondo 45s infinite;
    animation-timing-function: linear;
}

.fondo5{
    animation: animarFondo 50s infinite;
    animation-timing-function: linear;
}

.fondo6{
    animation: animarFondo 162s infinite;
    animation-timing-function: linear;
}

.fondo7{
    animation: animarFondo 14s infinite;
    animation-timing-function: linear;
}

.fondo8{
    animation: animarFondo 16s infinite;
    animation-timing-function: linear;
}

.fondo9{
    background-position:  bottom left;
}

/*FONDO 1*/
.fondo0_cambio_1{
    background-image: url(../img/fondo/PINK/pink0.png);
}

.fondo1_cambio_1{
    background-image: url(../img/fondo/PINK/pink1.png);
}

.fondo2_cambio_1{
    background-image: url(../img/fondo/PINK/pink2.png);
}

.fondo3_cambio_1{
    background-image: url(../img/fondo/PINK/pink3.png);
}

.fondo4_cambio_1{
    background-image: url(../img/fondo/PINK/pink4.png);
}

.fondo5_cambio_1{
    background-image: url(../img/fondo/PINK/pink5.png);
}

.fondo6_cambio_1{
    background-image: url(../img/fondo/PINK/pink6.png);
}

.fondo7_cambio_1{
    background-image: url(../img/fondo/PINK/pink7.png);
}

.fondo8_cambio_1{
    background-image: url(../img/fondo/PINK/pink8.png);
}

.fondo9_cambio_1{
    background-image: url(../img/fondo/PINK/pink9.png);
}
/*FONDO 2*/

.fondo0_cambio_2{
    background-image: url(../img/fondo/BLUE/blue0.png);
}

.fondo1_cambio_2{
    background-image: url(../img/fondo/BLUE/blue1.png);
}

.fondo2_cambio_2{
    background-image: url(../img/fondo/BLUE/blue2.png);
}

.fondo3_cambio_2{
    background-image: url(../img/fondo/BLUE/blue3.png);
}

.fondo4_cambio_2{
    background-image: url(../img/fondo/BLUE/blue4.png);
}

.fondo5_cambio_2{
    background-image: url(../img/fondo/BLUE/blue5.png);
}

.fondo6_cambio_2{
    background-image: url(../img/fondo/BLUE/blue6.png);
}

.fondo7_cambio_2{
    background-image: url(../img/fondo/BLUE/blue7.png);
}

.fondo8_cambio_2{
    background-image: url(../img/fondo/BLUE/blue8.png);
}

.fondo9_cambio_2{
    background-image: url(../img/fondo/BLUE/blue9.png);
}