.contenedor_obstaculos{
    z-index: 2;
}
.obstaculo{
    position: absolute;
    display: none;
    width: 100px;
    height: 100px;
    z-index: 2;
}

.obstaculo_suelo{
    top: 70%;
}

.obstaculo_aire{
    top: 35%;
}

.obstaculo_1{/*tipo suelo*/
    background-image: url(../img/lana.png);
}

.obstaculo_2{/*tipo suelo*/
    background-color: brown;
}

.obstaculo_3{/*tipo aire*/
    background-color: black;
}
.animar{
    display: block;
    animation: obstaculoMoverse infinite;
    animation-timing-function: steps(9);
}

@keyframes obstaculoMoverse {
    0%{background-position: 0;}
    100% {transform: translateX(-100px);
        background-position: -961px;}
}