
@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');
.pantalla_inicio{
    position: absolute;
    left: 10%;
    background-color: rgb(0, 0, 0, 0.7);
    width: 70%;
    height: 100%;
    z-index: 11;
}

.btn_start{
    border: none;
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    transform: translate(-5px, -70px);
    padding: 0 15px 0 15px;
    border-radius: 5px;
    text-transform: uppercase;
}

.btn_start:hover, #btn_entendido:hover{
    background-color: rgb(153, 153, 153);
    cursor: pointer;
}

.pantalla-main{
    display: grid;
    grid-template-rows: 1.3fr 5fr ;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    height: 100%;
    position: absolute;
    color: aliceblue;
    opacity: 100% !important;
    z-index: 12;
    justify-content: center;
    font-family: 'Rampart One', cursive;
    font-weight: 10;
}

.estilo-center{
    background-color: rgb(0, 0, 0, 255);
    display: flex;
    grid-column: 2/3;
    align-items: center;
    justify-content: center;
    margin: 10px 0 10px 0;
    border-radius: 5px;
}

.definir-col{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.3fr 3fr;
    grid-column: 1/4;
}

.com-1{
    margin-top: 10px;
}

.instructions-app{
    margin: 0 15px 15px 15px;
    background-color: black;
    border-radius: 10px;
}

.grid{
    display: grid;
    grid-template-rows: 0.5fr 1fr;
    grid-template-columns: 0.8fr 6fr 0.8fr;
}

.grid1{
    display: grid;
    grid-template-rows: 0.8fr 1fr;
    grid-template-columns: 0.8fr 6fr 0.8fr;
}

.p{
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.instructions-app-abajo{
    margin: 0 15px 60px 15px;
    background-color: black;
    border-radius: 10px;
    grid-column: 2/3;
}
.center{
   align-self: center;
   grid-column: 2/3;
}

#btn_entendido{
    position: absolute;
    z-index: 13;
    border: none;
    font-size: 40px;
    /*transform: translate(480px, 230px); COSTADO
    transform: translate(-215px, 479px);*/
    padding: 20px 15px 20px 15px;
    border-radius: 5px;
    text-transform: uppercase;
    color: black;
    font-family: 'Rampart One', cursive;
    animation: heartbeat 3s ease-in-out infinite both;
    top: 82%;
    left: 36%;
}

.pantalla-secundaria{
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 2.5fr 2.1fr 2.1fr 1.5fr;
    font-family: 'Rampart One', cursive;
    color: aliceblue;
    text-transform: uppercase;
    font-size: 30px;
}

.encolumnar{
    background-color: black;
    grid-column: 3/9;
    border-radius: 8px;
}

.enc-titulo{
    grid-column: 4/8;
    background-image: url(../img/fondo/PINK/Pink\ Sunset.png);
    background-size: 450px;
    background-position: bottom left;
    background-repeat: no-repeat;
    background-color: #000;
    margin-bottom: 8px;
    border-radius: 10px;
    text-align: center;
    font-size: 30px;
}

.fondoCambio{
    background-image: url(../img/fondo/BLUE/Night\ sky.png);
}

.enc-titulo:hover{
    animation: shadow-drop-2-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes shadow-drop-2-center {
    0% {
      -webkit-transform: translateZ(50px);
              transform: translateZ(0);
      -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.911);
              box-shadow: 0 0 0 0 rgb(255, 255, 255);
             
    }
    100% {
      -webkit-transform: translateZ(50px);
              transform: translateZ(50px);
      -webkit-box-shadow: 0 0 20px 0px rgb(255, 255, 255);
              box-shadow: 0 0 20px 0px rgb(254, 255, 254);
              transform: scale(1.1);
    }
}

.estirar{
    padding: 20px 0 20px 0;
    font-size: 50px;
}

.agrandar-letra{
    font-size: 30px;
}
.enc-btn{
    grid-column: 5/7;
    font-family: 'Rampart One', cursive;
    text-transform: uppercase;
    color: #000;
    text-decoration-color: black;
    margin: 10px 0 10px 0;
    font-size: 30px;
    border-radius: 10px;
    cursor: pointer;
    animation: heartbeat 3s ease-in-out infinite both;
}

  @keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }

.game_over{
    color: aliceblue;
    font-family: 'Rampart One', cursive;
    text-transform: uppercase;
    display: grid;
    grid-template-rows: 2fr 7fr;
    grid-template-columns: repeat(10, 1fr);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 12;
    max-height: 100%;
}

.titulo-over{
      grid-column: 3/10;
      font-size: 100px;
      color: aliceblue;
  }

.formar-columnas{
   grid-row-start: 2;
}

.puntaje{
    grid-column: 1/5;
}

.hideClass{
    display: none;
}

