*{
    margin: 0%;
    padding: 0%;
}

body{
    text-align: center;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 6fr 0.5fr;
    overflow: hidden;
}

header{
    display: flex;
    background-color: black;
}

header div{
    color: white;
    width: 50%;
    margin: auto;
    font-size: 40px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.p_titulo{
    font-size: 20px;
}
section{
    perspective: 1px;
}
footer{
    padding-top: 0.5%;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: rgb(61, 61, 61);
}

.hiden{
    display: none;
}

.show{
    display: block;
}

.img{
    width: 151px;
}

.img2{
    width: 20%;
}
.obs{
    z-index: 14;
    position: absolute;
    width: 100px;
    display: flex;
    grid-row: 3/2;
    justify-self: center;
}