*{
    margin: 0%;
    padding: 0%;
}

.fondo{
    background-color: darkcyan;
    width: auto;
    height: 100%;
    background-image: url(../img/fondo.png);
    /*background-repeat: no-repeat;*/
    background-position: bottom left;
    animation: animarFondo 19s infinite;
    animation-timing-function: linear;
    z-index: 7;
}
@keyframes animarFondo {
    0%{background-position: bottom left 0;}
    100% {background-position:  bottom left -2560px;}
}

body{
    text-align: center;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 6fr 0.5fr;
}
header{
    display: flex;
}
header{
    background-color: black;
}

header div{
    color: white;
    width: 50%;
    margin: auto;
    font-size: 40px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.p_titulo{
    font-size: 20px;
}

footer{
    padding-top: 0.5%;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: rgb(61, 61, 61);
}