*{
    margin: 0%;
    padding: 0%;
}

.fondo{
    background-color: darkcyan;
    width: auto;
    height: 100%;
    background-image: url(../img/fondo.png);
    /*background-repeat: no-repeat;*/
    background-position: bottom left;
    animation: animarFondo 19s infinite;
    animation-timing-function: linear;
    z-index: 7;
}
@keyframes animarFondo {
    0%{background-position: bottom left 0;}
    100% {background-position:  bottom left -2560px;}
}

body{
    text-align: center;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 6fr 0.5fr;
}
